body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.img-categoria{
    width: 100%;
    aspect-ratio: 1 /1;
    object-fit: cover;
}
.video-comida{
    width: 100%;
    height: 500px;
}
.img-Comunidad{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.video-container{
    object-fit: cover;
}
.video{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}
/*Media query para mobile*/
@media (max-width: 768px){
    .video{
        height: 300px;
    }
    .btn-gradient{
        width: 300px;
    }
}
/*Media query para tablets*/
@media (768px <= width <= 991px){
    .card{
        height: 430px;
    }
    .container-Receta{
        height: 250px;
        overflow: hidden;
    }
    .container-OtrasRecetas{
        background: #dbeeff;
        height: 500px;
    }
    .cardOtrasRecetas{
        height: 430px;
        overflow: hidden;
    }
    .btn-gradient{
        width: 450px;
    }
    /* .ImgcardEspecial{
        height: 320px;
    } */

}
.img-Recetas{
    height: 430px;
}
.container-Receta{
    background: #dbeeff;
    color: #1a2a33;
    border-radius: 10px;
    border: 3px solid lightgrey;
}
.container-OtrasRecetas{
    background: #dbeeff;
}
textarea{
    resize: none;
}
.gradient-bg {
  background: linear-gradient(135deg, #4facfe, #00f2fe); /* Azul cielo a celeste */
  border-radius: 10px;
}
.btn-gradient {
  background: linear-gradient(45deg, #667eea, #764ba2); /* Púrpura a azul */
  color: white;
  border: none;
}

.btn-gradient:hover {
  background: linear-gradient(45deg, #5a67d8, #6b46c1);
}
