body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.img-categoria{
    width: 100%;
    aspect-ratio: 1 /1;
    object-fit: cover;
}
.video-comida{
    width: 100%;
    height: 500px;
}
.img-Comunidad{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.video-container{
    object-fit: cover;
}
.video{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}
/*Media query para mobile*/
@media (max-width: 768px){
    .video{
        height: 300px;
    }
}
/*Media query para tablets*/
@media (768px <= width <= 991px){
    .card{
        height: 430px;
    }
    .container-Receta{
        height: 250px;
        overflow: hidden;
    }

}
.img-Recetas{
    height: 430px;
}
.container-Receta{
    background: #dbeeff;
    color: #1a2a33;
    border-radius: 10px;
    border: 3px solid lightgrey;
}